<header>
  <div class="logo-header">
    <h1>Bienvenue sur mon application web pour mon projet !! </h1>
      <a routerLink="">
          <img src="https://utilisateur.sepro.org/assets/fichiers_upload/logo_ecoles/3291/photo58b0184d3a7bf8.35464681.png" alt="ynovcampus">
      </a>
  </div>
  <h2>Choisissez la page sur laquelle vous voullez aller</h2>
  <div>
    <ul class = "inline">
      <li>
        <a [routerLink]="['/']">home</a>
      </li>
      <li>
        <a [routerLink]="['/projets']">Projets</a>
      </li>
      <li>
        <a [routerLink]="['/salaries']">Salariés</a>
      </li>
      <li>
        <a [routerLink]="['/clients']">Clients</a>
      </li>
    </ul>
  </div>
</header>
