<form>
    <div class="row">

        <div class="col">
            <div class="form-group">
                <label>Nom du Salarié</label>
                <input type="text" class="form-control" placeholder="nom" [value]="formCreate.nom" (change)="formCreate.nom = $event.target.value">
            </div>
            <div class="form-group">
                <label>Prenom du Salarié</label>
                <input type="text" class="form-control" placeholder="prenom" [value]="formCreate.prenom" (change)="formCreate.prenom = $event.target.value">
            </div>
            <div class="form-group">
                <label>Pseudo</label>
                <input type="text" class="form-control" placeholder="pseudo" [value]="formCreate.pseudo" (change)="formCreate.pseudo = $event.target.value">
            </div>
            <div class="form-group">
                <label>Anniversaire</label>
                <input type="date" class="form-control" placeholder="naissance" [value]="formCreate.naissance" (change)="formCreate.naissance = $event.target.value">
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col">
          <label>Adresse du salarié</label>
            <div class="form-group">
                <label>Rue</label>
                <input type="int" class="form-control" placeholder="1, 2 .." [value]="formCreate.rue" (change)="formCreate.rue = $event.target.value">
            </div>
            <div class="form-group">
                <label>Adresse</label>
                <input type="text" class="form-control" placeholder="rue, route, boulevard ..." [value]="formCreate.adresse" (change)="formCreate.adresse = $event.target.value">
            </div>
            <div class="form-group">
                <label>Ville</label>
                <input type="text" class="form-control" placeholder="Senlis, Paris ..." [value]="formCreate.ville" (change)="formCreate.ville = $event.target.value">
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col">
            <div class="form-group">
                <label>Poste</label>
                <select class="form-control" [value]="formCreate.poste" (change)="formCreate.poste = $event.target.value">
                  <option> Dev front </option>
                  <option> Dev Back </option>
                  <option> Design </option>
                </select>
            </div>
        </div>

    </div>

    <!-- bouton d'ajout, utiliser la fonction (click) -->
    <button type="button" name="button" class="btn btn-info" (click)=createSalarie()>Ajouter</button>

</form>
